@charset "UTF-8";
.cell--table th {
  background-color: #319c4a;
  font-size: 18px;
  line-height: 26px;
  border: 1px solid #000000;
  padding: 10px;
}

.cell--table td {
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #000000;
  padding: 10px;
}
.cell--table{
  table-layout: fixed;
  width: 100%;
  text-align: center;
}
.cell--table tr {
  background-color: #d5ffc7;
}
.cell--table tr:nth-child(even){
  background: #bcbcbc;
}
.cell--table  tr:last-child{
  border-top: 1px double #ffffff;
}
